div {
    width: 600px;
    border: 1.5px solid black;
    padding: 0px;
    margin: 20px;
    margin-bottom: 0px;
    margin-left:300px ;
    height: 60px;
}
#long_div {
    width: 600px;
    border: 1.5px solid black;
    padding: 0px;
    margin: 20px;
    margin-top: 0px;
    height: 500px;
    margin-left: 300px;
}
#button2 {
    border: 0px; 
    background: none;
    font-size: large;
    margin-right: 40px;
}

#upper_text {
    font-size: 30px;
}

#lower_text{
    font-size: 12px;
}



#money {
    margin: 10px;
}
p{
    width: 300px;
    border: 1.5px solid black;
    margin: 5px;
}

.button1 {
    border-radius: 50%;
    margin: 12px;
}