body {
    color: #000000;
    background-color: white;
    display: block;
} 

#content {
    margin-left: 30px;
    font-size: .70em;
    padding-bottom: 2em;
}

.heading1 {
    color: #ffffff;
    font-size: 26px;
    font-weight: normal;
    background-color: #003366;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -30px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 15px;
    width: 105%;
}

.intro {
    margin-left: -15px;
    font-size: small;
}

p {
    color: #000000;
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: Verdana;
    font-size: small;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


ul {
    display: block;
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    margin-top: 10px;
    color: #000000;
}

li {
    margin-top: 10px;
    margin-left: 30px;
    color: #000000;
    display: list-item;
    font-size: medium;
    text-align: -webkit-match-parent;
}

a:hover {
    color: rgb(rgb(180, 12, 12), green, blue);
    font-weight: bold;
}
a:link {
    color: #2485e6;
    font-weight: bold;
    text-decoration: underline;
}
